.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    width: 100%;
}

.contentItems {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
    gap: 10px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 40px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    cursor: pointer;
    transition: all .2s ease;
}

.button:hover {
    background-color: #c4c4c4;
    border-radius: 10px;
}

.pages {
    display: flex;
    gap: 20px;
}

.find {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}


.findInput {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 200px;
    max-width: 500px;
    width: 25vw;
    height: 40px;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    transition: outline .2s ease;
    outline: 1px solid #efefef;
}

.findInput:hover,
.findInput:focus,
.findInput:active{
    outline: 1px solid #969696;
    border: none;
}
