.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    width: 100%;
}

.contentItems {
    display: grid;
    padding: 30px;
    grid-template-columns: repeat(4, 230px);
    gap: 10px;
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 10px;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    cursor: pointer;
    transition: all .2s ease;
}

.button:hover {
    background-color: #c4c4c4;
    border-radius: 10px;
}

.pages {
    display: flex;
    justify-content: center;
    width: 160px;
    gap: 20px;
}

.find {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.select {
    width: 160px;
    height: 40px;
    letter-spacing: -.3px;
}

.findInput {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100px;
    max-width: 250px;
    width: 40vw;
    height: 40px;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    transition: all .2s ease;
    outline: 1px solid #efefef;
}

.findInput:hover,
.findInput:focus,
.findInput:active{
    outline: 1px solid #969696;
    border: none;
}

.noItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;

}

@media screen and (max-width: 1140px) {
    .contentItems {
        grid-template-columns: repeat(3, 230px);
    }
}

@media screen and (max-width: 760px) {
    .contentItems {
        grid-template-columns: repeat(2, 230px);
    }
}

@media screen and (max-width: 500px) {
    .contentItems {
        grid-template-columns: 230px;
    }
}