html {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #f1f1f1;
}

textarea:focus, input:focus{
    outline: none;
}
